@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Quicksand:wght@300..700&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css");
@import url("parallax.css");

:root {
    --bgColor: #223344;
    --bgColor2: #090a0f;
    --accentColor: #FFF;
    --font: 'Karla', sans-serif;
    --font2: 'Quicksand', sans-serif;
    --delay: .3s;
    -webkit-tap-highlight-color: transparent;

    -webkit-user-select: none;
    /* Safari */

    -moz-user-select: none;
    /* Firefox */

    -ms-user-select: none;
    /* IE10 */

    user-select: none;
    /* Standard */
}

::selection {
    background-color: var(--bgColor);
    color: var(--accentColor);
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: var(--font2);
    background: radial-gradient(ellipse at bottom, var(--bgColor) 0%, var(--bgColor2) 100%);
    background-image: url('https://img.goodfon.com/original/1920x1200/d/4a/firewatch-campo-santo-vid-les-peizazh-igra-art-gory-pozharny.jpg');
    filter: blur(8px);
    opacity: 0;
    animation: clearBlur 1s ease forwards, fadeIn 1.5s ease-out var(--delay) forwards;
    animation-fill-mode: forwards;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#profilePicture,
#profilePicture img {
    position: relative;
    width: 96px;
    height: 96px;
    display: block;
    margin: 40px auto 20px;
    border-radius: 50%;
}

#userName {
    color: var(--accentColor);
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.25;
    display: block;
    font-family: var(--font);
    width: 100%;
    text-align: center;
    text-decoration: none;
}

#links {
    max-width: 675px;
    width: auto;
    display: block;
    margin: 27px auto;
}

.link {
    position: relative;
    background-color: transparent;
    color: var(--accentColor);
    border: solid var(--accentColor) 2px;
    border-radius: 10px;
    font-size: 1rem;
    text-align: center;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 14px;
    /* 17px/10px */
    text-decoration: none;
    transition: all .25s cubic-bezier(.08, .59, .29, .99);
}

@media (hover: hover) {
    .link:hover {
        background-color: var(--accentColor);
        color: var(--bgColor);
    }
}

.link:active {
    background-color: var(--accentColor);
    color: var(--bgColor);
}

#hashtag {
    position: relative;
    padding-bottom: 20px;
    color: var(--accentColor);
    font-size: 1rem;
    display: block;
    font-family: var(--font);
    width: 100%;
    text-align: center;

    /*  animation   */
    /*overflow: hidden;*/
    /*background: linear-gradient(90deg, var(--bgColor), var(--accentColor), var(--bgColor));*/
    /*background-repeat: no-repeat;*/
    /*background-size: 80%;*/
    /*animation: animateBackground 3s linear var(--delay) infinite;*/
    /*-webkit-background-clip: text;*/
    /*background-clip: text;*/
    /*-webkit-text-fill-color: rgba(255, 255, 255, 0);*/
}


/*-------------------------animations-----------------------*/
@keyframes clearBlur {
    0% {
        filter: blur(8px);
    }

    100% {
        filter: blur(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/*@keyframes animateBackground {*/
    /*0% {*/
        /*background-position: -500%;*/
    /*}*/
/**/
    /*100% {*/
        /*background-position: 500%;*/
    /*}*/
/*}*/

@keyframes animStar {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-2000px);
    }
}